/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tmp
/vendor
.env
.env.backup
.env.production
.git-commit-message.txt
.phpactor.json
.phpunit.result.cache
phpunit.xml.starter-kit-browser
tests.starter-kit-browser/
resources/js/tests/coverage/
test-output.log
test-coverage-pcov.log
test-coverage-xdebug.log
tmp-run.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md
